<footer>
    <div class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <p>Consulte nossos 
                    <a href="https://olist.com/termos-de-uso/">Termos de Uso</a> 
                    e 
                    <a href="https://olist.com/politica-de-privacidade/" target="_blank" target="_blank">Política de Privacidade</a>
                </p>
            </div>

            <ul>
                <li class="links">
                    <a href="https://www.facebook.com/olistbr" target="_blank" aria-label="Facebook"
                        title="Visite nosso perfil no Facebook">Facebook
                    </a>
                </li>
                <li class="links">
                    <a href="https://pt.linkedin.com/company/olist" target="_blank" aria-label="Linkedin"
                        title="Visite nosso perfil no Linkedin">Linkedin
                    </a>
                </li>
                <li class="links">
                    <a href="https://twitter.com/olistbr" target="_blank" aria-label="Twitter"
                        title="Visite nosso perfil no Twitter">Twitter
                    </a>
                </li>
            </ul>
        </section>
    </div>
</footer>